*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #48555B;
}
body {
    --page-width: min(100vw, 1440px);
    --page-pl: min(250px, 17.362%);
    --page-pr: min(250px, 17.362%);
    width: var(--page-width);
    margin: 0 auto;
}
.hero {
    --hero-width: 100%;
    --hero-height: calc(100vw * 768 / 1440);
    --padding-top: max(1rem, min(2.85vw, 41px));
    --padding-bottom: max(1rem, min(4.93vw, 71px));
    --hero__title-fsz: max(2rem, min(4.17vw, 60px));
    --hero__subtitle-fsz: 1.231rem;
    --hero_scrolldown-fsz: 0.846rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: var(--hero-width);
    height: min(var(--hero-height), 768px);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url('./images/hero-bg.png');
    background-size: contain;
    color: #fff;
}
.hero__logo {
    --logo-height: 23px;
    width: 101.62px;
    height: var(--logo-height);
    margin-bottom: min(calc((var(--hero-height) 
                         - var(--padding-top) 
                         - var(--padding-bottom)
                         - var(--logo-height)
                         - var(--hero__title-fsz)
                         - var(--hero__subtitle-fsz)
                         - var(--hero_scrolldown-fsz)) * (317 / 221 - 1) / (317 /221 + 1) ), 96px);
}
.hero__title {
    margin-bottom: 2px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: var(--hero__title-fsz);
    line-height: 100%;
}
.hero__subtitle {
    font-size: var(--hero__subtitle-fsz);
}
.hero__scrolldown {
    font-size: var(--hero_scrolldown-fsz);
    letter-spacing: 1.01px;
}
.navbar,
.our-story,
.services,
.footer__wrapper,
.copyright {
    padding-left: var(--page-pl);
    padding-right: var(--page-pr);
}
.navbar {
    display: flex;
    width: 100%;
    height: 65px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
.navbar__logo {
    width: 79.53px;
    height: 18px;
}
.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: clamp(15px, 2.084vw, 30px);
    list-style-type: none;
}
.navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.09px;
    color: inherit;
}
.hero__subtitle, .hero__scrolldown, .navbar__link {
    font-weight: 600;
    line-height: 100%;
}
.navbar__item:nth-child(1) {
    margin-right: 1.125em;
}
.navbar__item:nth-child(2) {
    margin-right: 0.781em;
}
.navbar__item:nth-child(3) {
    margin-right: 0.563em;
}
.main {
    padding-top: calc(57 / 1440 * var(--page-width));
}
.our-story {
    margin-bottom: calc(118 / 1440 * var(--page-width));
    text-align: center; 
}
.our-story__wrapper {
    display: flex;
    justify-content: space-between;
}
.section-title {
    display: block;
    margin-bottom: 10px;
    height: 25px;
    font-size: 18px;
    text-transform: uppercase;
}
.section-title-underline {
    display: inline-block;
    margin-bottom: calc(80 / 1440 * var(--page-width));
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}
.our-story__wrapper>div>p {
    width: calc(405.08 / 1440 * var(--page-width));
    text-align: start;
}
.our-story__wrapper>div>p:first-child {
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 20px;
}
.our-story__wrapper>div>p:last-child {
    font-size: 13px;
}
.firm-name {
    color: #16ace8;
}
.we-do-wrapper {
    --we-do-width: calc(140 / 1440 * var(--page-width));
    display: flex;
    flex-wrap: nowrap;
    gap: clamp(10px, calc(2 / 14 * var(--we-do-width)), 20px);
}
.we-do {
    width: var(--we-do-width);
    height: calc(224 / 140 * var(--we-do-width));
    padding-left: 16px;
    padding-top: 15px;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.846rem;
    line-height: 100%;
    font-weight: 900;
    color: #fff;
}
.we-do:nth-child(1) {
    background-image: url(./images/plan.png);
}
.we-do:nth-child(2) {
    background-image: url(./images/manage.png);
}
.we-do:nth-child(3) {
    background-image: url(./images/build.png);
}
.services {
    margin-bottom: calc(115 / 1440 * var(--page-width));
}
.services__hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(76 / 1440 * var(--page-width));
}
.services__hero .section-title-underline {
    margin-bottom: 0;
}
.services__hero>div:last-child {
    display: flex;
    justify-content: end;
    gap: 31.6px;
}
.services__hero p {
    font-size: 11px;
    max-width: 405.4px;
}
.section-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.btn {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1.09px;
    font-weight: bold;
    color: #fff;
    background-color: #00a4e5;
    border: #00a4e5;
}
.service-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service {
    width: 31.383%;
    padding: 37px 21px 38px 22px;
    border: thin solid #e6e6e6;
}
.service__img-wrapper {
    height: 75px;
    margin-bottom: 25px;
}
.service__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 13px;
}
.service__desc {
    font-size: 13px;
    line-height: 23px;
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: calc(120 / 1440 * var(--page-width));
    padding-bottom: calc(231.24 / 1440 * var(--page-width));
    background-image: url("./images/cta_bg.png");
}
.cta__title {
    display: inline-block;
    width: 350px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}
.cta__btn {
    display: block;
}
.signup{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #171819;
}
.signup__wrapper {
    display: inline-block;
    margin: 0 auto;
}
.signup__label {
    font-size: 22px;
    letter-spacing: 0.85px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    margin-right: 70px;
}
.signup__input {
    width: 250px;
    height: 40px;
    padding-left: 16px;
    border: #fff;
}
.footer {
    color:#fff;
    font-size: 11px;
    letter-spacing: 0.85px;
}
.footer__wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 72px;
    gap: 46px;
    background-color: #141A20;
}
.company__title, .links__title,
.contacts__title {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.company {
    width: 275px;
    padding-right: 25px;
}
.company__title {
    margin-bottom: 19px;
}
.company__logo-wrapper {
    width: 101.62px;
    height: 23px;
    margin-bottom: 15px;
}
.links__title {
    margin-bottom: 10px;
}
.links {
    width: 274px;
    padding-right: 12px;
    text-transform: uppercase;
}
.links__wrapper {
    display: flex;
}
.links__wrapper>ul {
    list-style: none;
}
.links__wrapper>ul:first-child {
    margin-right: 34px;
}
.links__wrapper>ul:nth-child(2) {
    margin-right: 38px;
}
.links__item {
    text-decoration: none;
    line-height: 2.273em;
    color: inherit;
}
.contacts {
    width: 141px;
}
.contacts__title {
    margin-bottom: 15px;
}
.contacts__address, .contacts__tel {
    margin-bottom: 16px;
}
.socials {
    width: 87px;
    height: 43px;
    padding-top: 30px;
}
.copyright {
    padding-top: 22px;
    padding-bottom: 23px;
    text-align: center;
    background-color: #171819;
}