*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #48555B;
}
body {
    --page-width: min(100vw, 1440px);
    --page-pl: max(calc((var(--page-width) - 940px) / 2), 50px);
    --page-pr: var(--page-pl);
    width: var(--page-width);
    margin: 0 auto;
}
.hero {
    --hero-width: 100%;
    --hero-height: calc(100vw * 768 / 1440);
    --padding-top: max(1rem, min(2.85vw, 41px));
    --padding-bottom: max(1rem, min(4.93vw, 71px));
    --hero__title-fsz: max(2rem, min(4.17vw, 60px));
    --hero__subtitle-fsz: 1.231rem;
    --hero_scrolldown-fsz: 0.846rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: var(--hero-width);
    height: min(var(--hero-height), 768px);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url('../images/hero-bg.png');
    background-size: contain;
    color: #fff;
}
.hero__logo {
    --logo-height: 23px;
    width: 101.62px;
    height: var(--logo-height);
    margin-bottom: min(calc((var(--hero-height) 
                         - var(--padding-top) 
                         - var(--padding-bottom)
                         - var(--logo-height)
                         - var(--hero__title-fsz)
                         - var(--hero__subtitle-fsz)
                         - var(--hero_scrolldown-fsz)) * (317 / 221 - 1) / (317 /221 + 1) ), 96px);
}
.hero__title {
    margin-bottom: 2px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: var(--hero__title-fsz);
    line-height: 100%;
}
.hero__subtitle {
    font-size: var(--hero__subtitle-fsz);
}
.hero__scrolldown {
    font-size: var(--hero_scrolldown-fsz);
    letter-spacing: 1.01px;
}
.navbar,
.story,
.services,
.cta,
.footer__container,
.copyright {
    padding-left: var(--page-pl);
    padding-right: var(--page-pr);
}
.navbar {
    display: flex;
    width: 100%;
    height: 65px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.navbar__logo {
    width: 79.53px;
    height: 18px;
}
.navbar__menu {
    display: flex;
    flex-direction: inherit;
    justify-content: inherit;
    gap: clamp(15px, 2.084vw, 30px);
    list-style-type: none;
}
.navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.09px;
    color: inherit;
}
.hero__subtitle, .hero__scrolldown, .navbar__link {
    font-weight: 600;
    line-height: 100%;
}
.navbar__item:nth-child(1) {
    margin-right: 1.125em;
}
.navbar__item:nth-child(2) {
    margin-right: 0.781em;
}
.navbar__item:nth-child(3) {
    margin-right: 0.563em;
}
.main {
    padding-top: 57px;
}
.story {
    margin-bottom: calc(118 / 1440 * var(--page-width));
    text-align: center; 
}
.story__content {
    display: flex;
    justify-content: space-between;
    column-gap: 77px;
    row-gap: 2em;
}
.section-title {
    display: block;
    margin-bottom: 10px;
    height: 25px;
    font-size: 18px;
    text-transform: uppercase;
}
.section-title__underline {
    display: inline-block;
    margin-bottom: calc(80 / 1440 * var(--page-width));
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}
.story__text>p {
    width: 100%;
    text-align: start;
}
.story__text>p:first-child {
    margin-bottom: 1.5em;
    font-weight: bold;
    font-size: 20px;
}
.story__text>p:last-child {
    text-align: justify;
    font-size: 13px;
}
.firm-name {
    color: #16ace8;
}
.story__cards {
    /* --we-do-width: calc(140 / 1440 * var(--page-width)); */
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    gap: 20px;
    /* gap: clamp(10px, calc(2 / 14 * var(--we-do-width)), 20px); */
}
.story__card {
    /* width: var(--we-do-width);
    height: calc(224 / 140 * var(--we-do-width)); */
    width: 140px;

    height: 224px;
    padding-left: 16px;
    padding-top: 15px;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.846rem;
    line-height: 100%;
    font-weight: 900;
    color: #fff;
}
.story__card--plan {
    background-image: url('../images/plan.png');
}
.story__card--manage {
    background-image: url('../images/manage.png');
}
.story__card--build {
    background-image: url('../images/build.png');
}
.services {
    margin-bottom: calc(115 / 1440 * var(--page-width));
}
.services__hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(76 / 1440 * var(--page-width));
    gap: 30px;
}
.services__hero .section-title__underline {
    margin-bottom: 0;
}
.services__info {
    display: flex;
    justify-content: end;
    gap: 31.6px;
}
.services__desc {
    font-size: 11px;
    max-width: 405.4px;
}
.services__title-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.btn {
    width: 150px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    letter-spacing: 1.09px;
    font-weight: bold;
    color: #fff;
    background-color: #00a4e5;
    border: #00a4e5;
}
.services__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.services__card {
    width: 100%;
    min-width: 200px;
    padding: 37px 21px 38px 22px;
    border: thin solid #e6e6e6;
}
.service__icon{
    height: 75px;
    margin-bottom: 25px;
}
.service__card-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 13px;
}
.service__card-desc {
    font-size: 13px;
    line-height: 23px;
}
.cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: calc(120 / 1440 * var(--page-width));
    padding-bottom: calc(231.24 / 1440 * var(--page-width));
    background-image: url("../images/cta_bg.png");
    background-size: cover;
}
.cta__title {
    display: inline-block;
    max-width: 350px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
}
.cta__btn {
    display: block;
}
.signup{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: var(--page-pl);
    padding-right: var(--page-pr);
    background-color: #171819;
}
.signup__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 30px;
    width: 100%;
}
.signup__label {
    font-size: 22px;
    letter-spacing: 0.85px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}
.signup__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 25px;
}
.signup__input {
    width: 250px;
    height: 40px;
    padding-left: 16px;
    border: #fff;
}
.footer {
    color:#fff;
    font-size: 11px;
    letter-spacing: 0.85px;
}
.footer__container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 72px;
    column-gap: 46px;
    row-gap: 30px;
    background-color: #141A20;
}
.footer__section-title {
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.footer__company {
    width: 275px;
    padding-right: 25px;
}
.footer__company>.footer__section-title {
    margin-bottom: 19px;
}
.footer__logo {
    width: 101.62px;
    height: 23px;
    margin-bottom: 15px;
}
.footer__links>.footer__section-title {
    margin-bottom: 10px;
}
.links {
    width: 274px;
    padding-right: 12px;
    text-transform: uppercase;
}
.footer__links-container {
    display: flex;
}
.footer__links-list {
    list-style: none;
}
.footer__links-list:first-child {
    margin-right: 34px;
}
.footer__links-list:nth-child(2) {
    margin-right: 38px;
}
.footer__link {
    text-decoration: none;
    line-height: 2.273em;
    color: inherit;
}
.footer__contact {
    width: 141px;
    margin-bottom: 16px;
}
.footer__contact>.footer__section-title {
    margin-bottom: 15px;
}
.footer__social {
    width: 87px;
    height: 43px;
    padding-top: 30px;
}
.footer__copyright {
    padding-top: 22px;
    padding-bottom: 23px;
    text-align: center;
    background-color: #171819;
}

@media (max-width: 1024px) {
    .story__content {
        flex-wrap: wrap;
        justify-content: center;
    } 
}
@media (max-width: 768px) {
    .story__card {
        --story__card-width: 110px;
        width: var(--story__card-width);
        height: calc(224 / 140 * var(--story__card-width)); 
        font-size: 18px;
    }
    .services__hero {
        flex-wrap: wrap;
        justify-content: center;
    }
    .services__title-container {
        align-items: center;
    }
    .services__info {
        justify-content: space-between;
    }
    .services__container {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 550px) {
    .hero__subtitle {
        font-size: 11px;
    }
    .navbar {
        height: max-content;
        padding-top: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 14px;
    }
    .navbar__logo {
        visibility: hidden;
    }
    .navbar__menu {
        align-items: center;
        gap: 15px;
    }
    .navbar__item:nth-child(1),
    .navbar__item:nth-child(2),
    .navbar__item:nth-child(3) {
        margin-right: 0
    }
    .main {
        padding-top: 40px;
    }
    .story__cards {
        flex-wrap: wrap;
        justify-content: center;
    } 
}
@media (max-width: 425px) {
    .services__info {
        flex-wrap: wrap;
        justify-content: end;
    }
    .services__desc {
        text-align: justify;
    }
    .cta__title {
        font-size: 20px;
    }
    .signup__label {
        font-size: 20px;
    }
}